__pycache__/
ErrorLog.txt
completedImages.txt

AlignedPhotos/
AlignedPhotosGOOD/
FinalAlignedPhotos/
BaseImages/
DailyPhotos/
DailyPhotosGOOD/
personal/
personal/

!AlignedPhotos/DELETETHIS.txt
!BaseImages/DELETETHIS.txt
!DailyPhotos/DELETETHIS.txt